pkgbase = wepapered-git
	pkgdesc = Wallpaper Engine wallpapers rendered natively on Hyprland and Wayland
	pkgver = r61.eb4c46c
	pkgrel = 1
	url = https://github.com/arca-inc/wepapered
	install = wepapered.install
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = cmake
	makedepends = git
	makedepends = gcc
	makedepends = patchelf
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = hyprland
	depends = nss
	depends = mpv
	depends = ffmpeg
	depends = sdl2
	depends = glew
	depends = glfw
	depends = freeglut
	depends = glu
	optdepends = hyprpaper: default loading placeholder backend
	optdepends = swww: alternative loading placeholder backend
	provides = wepapered
	conflicts = wepapered
	options = !strip
	options = !debug
	options = !lto
	options = !buildflags
	source = wepapered::git+https://github.com/arca-inc/wepapered.git
	source = wepapered.desktop
	source = wepapered-settings.desktop
	source = wepapered.service
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = wepapered-git
